<%- include('components/header', {title: title}) %>
<main>
  <h1><%= title %></h1>
  <h2>Status: <%= err.statusCode %></h2>
  <p><%= err.message %></p>

  <a href="/" class="backLink">Back to message board</a>
</main>
<%- include('components/footer') %>
